.navbars {
   margin-top: $unit-4;
}

.navbar-nav {
   flex-direction: column;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 0.5rem;

   .nav-items {
      display: flex;
      list-style: none;
      align-items: center;
      padding-left: 0;
      margin: 0;
   }

   .nav-item:not(:last-of-type) {
      margin-right: $unit-4;
   }

   .nav-item-link {
      cursor: pointer;
      color: $light-color;
   }

   &-link {
      font-weight: 600;
   }

   &-brand {
      font-weight: 700;
   }

   &-sm {
      display: block;
      background-color: $primary-color-light;
      padding: $unit-3;
   }

   &-md {
      display: none;
   }
}

.btn-bars,
.btn-close {
   background-color: $primary-color-light;
   border: none;
   padding: $unit-1;

   &:focus {
      border: none;
   }
}

.btn-close {
   color: $light-color;
}

.btn-search {
   border: 1px solid $light-color;
   border-radius: 0;
   border-bottom-right-radius: $unit-1;
   border-top-right-radius: $unit-1;
   height: $unit-10;
   margin: 0;
}

.fas {
   font-size: $unit-4;
}

.fas-sidebar {
   margin-right: $unit-3;
}

.fas-sidebar-user {
   font-size: $unit-4;
}

.form-inline {
   display: flex;
   max-width: 100%;
}
.form-control {
   border-style: none;
   border-radius: 0;
   border-bottom-left-radius: $unit-1;
   border-top-left-radius: $unit-1;
   width: 100%;
}

.sidebar-nav {
   background: #fff;
   height: 100%;
   left: -100%;
   top: 0;
   bottom: 0;
   overflow: auto;
   position: fixed;
   transition: 0.4s ease-in-out;
   width: 60%;
   z-index: 5001;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

   .btn {
      border: none;
      padding: $unit-2 $unit-3;
      margin: 0;
   }

   .sidebar-header {
      background: $primary-color-light;
      border-bottom: 1px solid $divider;
      padding: $unit-5;
   }

   .sidebar-links {
      list-style: none;
      padding: $unit-5;
      border-bottom: 1px solid $divider;
      margin-bottom: $unit-8;
   }

   ul li a {
      display: block;
      padding: $unit-2 0;
      font-size: $unit-4;
      color: $dark-color;
   }

   ul li a:hover {
      color: $primary-color-light;
   }

   .sidebar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.sidebar-nav.active {
   left: 0;
}

.sidebar-overlay {
   background: rgba(0, 0, 0, 0.7);
   height: 100vh;
   left: 0;
   position: fixed;
   top: 0;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   z-index: -1;
   width: 100%;
   opacity: 0;
}

.sidebar-overlay.active {
   opacity: 1;
   z-index: 5000;
}

.sidebar-link {
   margin-left: $unit-3;
}

@media (min-width: $size-sm) {
   .navbar-nav {
      flex-direction: row;
   }
   .fas {
      font-size: $unit-6;
   }
}

@media (min-width: $size-md) {
   .navbar {
      margin-top: $unit-5;
   }

   .navbar-sm {
      display: none;
   }

   .navbar-md {
      display: flex;
      background-color: $primary-color-light;
      padding: $unit-3;
   }

   .form-inline {
      width: 50%;
   }
}
