@import '../src/variables';

// /* Works on Firefox */
// * {
//    scrollbar-width: thin;
//    scrollbar-color: $primary-color $gray-color-light;
// }

// /* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//    width: $unit-3;
// }

// *::-webkit-scrollbar-track {
//    background: $gray-color-light;
// }

// *::-webkit-scrollbar-thumb {
//    background-color: $primary-color;
//    border-radius: $unit-5;
//    border: 3px solid $gray-color-light;
// }

ul {
   list-style: none;
}

.nav {
   text-align: center;
   align-items: center;

   &-left {
      width: 70%;
   }

   &-links {
      padding: 0;
      display: flex;
      margin-top: $unit-4;
      margin-bottom: $unit-4;
      justify-content: space-around;
   }

   &-link {
      font-weight: 700;
   }
}

#docsearch {
   display: flex;
   align-items: center;
   justify-content: center;

   &-input {
      border-style: none;
      border-radius: $unit-1;
      padding: $unit-2;
      padding-left: $unit-4;
      padding-right: $unit-10;
      background-color: $gray-color;
   }
}

#section-hero {
   margin-top: $unit-9;
   margin-bottom: $unit-9;
}

.hero {
   flex-direction: column-reverse;

   &-block-text,
   &-block-img {
      margin: $unit-5;
      margin-top: $unit-9;
   }

   &-block-text {
      display: flex;
      flex-direction: column;
   }

   &-title {
      font-size: 2em;
      text-align: center;
      color: $primary-color;
   }

   &-para {
      text-align: center;
      color: $dark-color;
   }

   &-btn {
      font-size: $font-size-lg;
      padding: $unit-3 $unit-10;
      border-radius: $unit-10;
      font-weight: 600;
      margin: 0 auto;
      margin-top: $unit-10;
      max-width: 60%;
   }
}

#section-feature {
   margin-top: $unit-17;
   padding-top: $unit-19;
   background-color: $bg-color-dark;
}

.feature {
   margin-top: $unit-12;

   .feat-img {
      max-width: 100%;
   }

   &-details {
      width: 80%;
      margin: 0 auto;
      margin-bottom: $unit-18;
      padding: $unit-5;
   }

   &-heading {
      text-align: center;
      font-weight: 700;
      font-size: $unit-9;
      color: $primary-color;
   }

   &-text {
      margin-top: $unit-8;
      text-align: center;
   }

   &-title {
      font-size: $unit-6;
      margin-bottom: $unit-5;
      color: $primary-color;
   }
}

.footer {
   padding: $unit-10;
   text-align: center;

   &-text {
      margin-bottom: $unit-3;
   }

   &-heart {
      color: $error-color;
   }

   &-version,
   &-bottom-text {
      color: $gray-color-dark;
   }

   &-license {
      color: $dark-color;
   }
}

@media (min-width: $size-sm) {
   .nav {
      justify-content: space-between;
      padding: $unit-3;

      &-links {
         display: flex;
         align-items: center;
      }

      &-link {
         margin-left: $unit-4;
      }

      &-left {
         width: 30%;
      }

      &-brand {
         display: flex;
         align-items: center;
      }

      &-logo {
         width: 30px;
         height: 30px;
      }

      &-brand-title {
         margin-left: 0.2rem;
      }

      .nav-right,
      .social-icons {
         display: flex;
      }

      .social-icon {
         width: $unit-5;
      }
   }

   .hero {
      flex-direction: row;
      justify-content: space-between;
      padding: $unit-2;
      align-items: center;

      &-block-text {
         width: 60%;
      }

      &-block-img {
         width: 50%;
      }

      &-title,
      &-para {
         text-align: left;
      }

      &-btn {
         padding: $unit-3 $unit-6;
         margin: 0;
         margin-top: $unit-10;
      }
   }

   .feature {
      flex-direction: column;

      &-details {
         width: 50%;
      }

      &-img {
         height: 75%;
      }
   }
}

@media (min-width: $size-lg) {
   .nav-left {
      width: 20%;
   }

   .hero {
      flex-direction: row;
      justify-content: space-between;
      padding: $unit-8;

      &-block-text {
         width: 40%;
      }

      &-block-img {
         width: 40%;
      }

      &-btn {
         width: 45%;
      }
   }

   .feature {
      flex-direction: row;

      &-details {
         width: 26%;
      }
   }
}
